<div class="booyah-box col-xs-10 col-xs-offset-1">

  <!-- References to the place object created in the controller. pulling from database -->
  <h1> <%= @place.name %> </h1>
  <i> <%= @place.address %> </i>
  <br><br>
  <p> <%= @place.description %> </p>

  <!-- Google Maps API -->
  <% if @place.latitude.present? && @place.longitude.present? %>
    <script>

      function initMap() {
        // Uses the latitude and longitude entries in the Place table
        var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <!-- uses the key I generated with google api's -->
    <!-- Check out "google maps example" for finding sample google maps JS integration -->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8XT4uva7mqQWvwixqZaKUfOPKTKOPeu0&callback=initMap">
    </script>

    <br>

    <div id="map"></div>
  <% end %>

  <br>

  <div class="pull-right">
    <!-- Uses logic to check if there is a current user and if the current user matches this place's user. If both true it allows access to the edit button. -->
    <% if current_user && current_user == @place.user %>
      <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary' %>
      <%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: "Are you sure you want to delete this?"}, class: "btn btn-danger" %>
    <% end %>
  </div>

</div>
<div class="clear"></div>


<div class="booyah-box col-xs-10 col-xs-offset-1">
  <!-- the comments are now wired up underneath the place area in the routes.rb file -->
  <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
    <%= f.input :message %>
    <%= f.input :rating %>
    <br>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  <% end %>
</div>

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Comments</h1>

  <% @place.comments.each do |comment| %>
    <div>
      <blockquote>
        <b><%= comment.rating %></b> -
          <%= comment.message %>
        <small><%= comment.user.email %></small>
      </blockquote>
    </div>
  <% end %>
</div>
